<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-feature android:name="android.hardware.usb.host" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme_light.Vigyos"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">
        <activity
            android:name=".Activity.BuyServiceActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MiniStatementDoneActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.WalletActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SeeMoreServicesActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.RefundPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.UserActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.TermsAndConditionsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.HelpAndSupportActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AddBankAccountActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PayOutActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ProcessDoneActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SubCatServiceActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PanWebViewActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PanCardActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AEPSActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ShowServicesActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SearchServicesActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".UsbReceiver"
            android:directBootAware="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.emteria.usbpermissions.USB_PERMISSION" />
            </intent-filter>
        </receiver>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>