<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme_light.Vigyos"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">
        <activity
            android:name=".Activity.WalletRechargeActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AEPS.PaytmPayoutAddAccountActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AEPS.PaytmPayoutActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.BBPS.BBPSPayBillsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.GOVT.GovtServicesWebViewActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.GOVT.GovtServicesShowActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.GOVT.GovtServicesActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DocumentsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PersonalProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AEPS.PaytmAEPSActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.RazorPayActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.BBPS.BBPSPayBillsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.BBPS.BBPSServicesActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PlansActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ForgotActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AccountCreatedActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.VerifyAccountActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SignUpWithPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SignUpActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:host="vigyos.com" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="vigyos.com" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.RegisterHomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.BiometricLockActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.BuyServiceActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AEPS.MiniStatementDoneActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.WalletActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SeeMoreServicesActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.RefundPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.UserActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.TermsAndConditionsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.HelpAndSupportActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AEPS.FinoPayoutAddAccountActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AEPS.FinoPayOutActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AEPS.ProcessDoneActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SubCatServiceActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PanWebViewActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PanCardActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AEPS.FinoAEPSActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ShowServicesActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SearchServicesActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity"
            android:enableOnBackInvokedCallback="true"
            android:exported="false" />
        <activity
            android:name=".Activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <receiver
            android:name=".Utils.UsbReceiver"
            android:directBootAware="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.emteria.usbpermissions.USB_PERMISSION" />
            </intent-filter>
        </receiver>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- Add your API key here -->
        <!-- <meta-data -->
        <!-- android:name="com.razorpay.ApiKey" -->
        <!-- android:value="rzp_test_uGEFDaUck79dOI" /> -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_4AIEZmGDgq7mp5" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>